[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Plann. poker
Icon=harbour-planningpoker
Exec=harbour-planningpoker

X-Desktop-File-Install-Version=0.20
